/* table {
  width: 100%;  
} */
.table-container {
    overflow: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 40px;
    /* width: 80%;    */

  } 
/*th.mat-sort-header-sorted {
    color: red;
  } */
.incluir {
  right: 40px;
  bottom: 40px;
  left: auto;
  position: absolute;
}
/* .acao {
   display: flex;  
   padding: 21px 0;  
   justify-content: center;   
} */

.totalizador {
  max-width: 80%;  
}
.dados {
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

