.table-container {
    overflow: auto;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 40px;
    /* width: 80%;    */

  } 

.incluir {
  right: 40px;
  bottom: 40px;  
  left: auto;
  position: absolute;
}

.totalizador {
  max-width: 80%;  
}
.dados {
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.search {  
  font-size: large;
}

