<div class="cadastro">

  <mat-card class="mat-elevation-z4" >
    <mat-card-content *ngIf="atleta" >              
        <mat-tab-group>
            <mat-tab label="Informações da Atleta"> 
                <h3>Informações da Atleta</h3>
                <div fxLayout="column" >

                  <mat-form-field fxFlex="80" >
                    <mat-label>Atleta</mat-label>
                        <input [readonly]="true" matInput placeholder="Atleta" [(ngModel)]="atleta.nome" #nome />
                  </mat-form-field>  

                  <mat-form-field fxFlex="80">
                    <mat-label>Nome do Pai</mat-label>
                    <input [readonly]="true"
                      matInput
                      placeholder="Nome do Pai"
                      [(ngModel)]="atleta.nomePai "
                      #nomePai
                    />
                  </mat-form-field>

                  <mat-form-field fxFlex="80">
                    <mat-label>Nome da Mãe</mat-label>
                    <input [readonly]="true"
                      matInput
                      placeholder="Nome da Mãe"
                      [(ngModel)]="atleta.nomeMae"
                      #nomeMae
                    />
                  </mat-form-field>
                </div>

                <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">

                  <mat-form-field fxFlex="auto"  >
                    <mat-label>Documento</mat-label>
                    <input
                      [readonly]="true"
                      matInput                      
                      [ngModel]="atleta.identidade"
                      #identidade
                    />
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Data de Nascimento</mat-label>
                    <input [readonly]="true"
                      matInput                                                                                          
                      [ngModel]="atleta.dataNascimento | date: 'dd/MM/yyyy'"
                      #dataNascimento
                    />                    
                    <mat-icon matSuffix >calendar_today</mat-icon>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Nº Registro FCB</mat-label>
                    <input [readonly]="true"
                      matInput
                      placeholder="Nº Registro FCB"
                      [ngModel]="atleta.numeroRegistroFCB"
                      #numeroRegistroFCB
                    />
                  </mat-form-field>
                  
                  <mat-form-field >
                    <mat-label>Validade FCB</mat-label>
                    <input [readonly]="true"
                      matInput                      
                      placeholder="Validade Carteirinha"                      
                      [ngModel]="atleta.dataCarteira | date: 'dd/MM/yyyy'"
                      #dataCarteira
                    />
                    <mat-icon matSuffix >calendar_today</mat-icon>
                  </mat-form-field>

                  <mat-form-field >
                    <mat-label>Nº Registro CBB</mat-label>
                    <input  [readonly]="true"
                      matInput
                      placeholder="Nº Registro CBB"
                      [ngModel]="atleta.numeroRegistroCBB"
                      #numeroRegistroCBB
                    />
                  </mat-form-field>

                  <mat-form-field fxFlex="20">
                    <mat-label>Tipo Sanguíneo</mat-label>
                    <input matInput [readonly]="true" placeholder="Tipo Sanguíneo" [(ngModel)]="atleta.tipoSanguineo">
                  </mat-form-field>

                </div>
                
                <div fxLayout="column" style="margin-left: 10px;">
                <mat-checkbox [disabled]="true" [(ngModel)]="atleta.alergia">Alergia</mat-checkbox>
                  <mat-form-field *ngIf="atleta.alergia" class="descricao">
                    <textarea
                      [readonly]="true"
                      matInput
                      rows="3"
                      placeholder="Observações sobre a alergia"
                      [(ngModel)]="atleta.descricaoAlergia"
                      #descricaoAlergia
                    ></textarea>
                  </mat-form-field>
                  <mat-checkbox [disabled]="true" [(ngModel)]="atleta.medicamento">Medicamento</mat-checkbox>
                  <mat-form-field *ngIf="atleta.medicamento" class="descricao">
                    <textarea
                      [readonly]="true"
                      matInput
                      rows="3"
                      placeholder="Observações sobre medicamentos"
                      [(ngModel)]="atleta.descricaoMedicamento"
                      #descricaoMedicamento
                    ></textarea>
                  </mat-form-field>
                </div>
                <br />
            </mat-tab>
            <mat-tab label="Dados para Contato"> 
                <h3>Dados para Contato</h3>
                <div fxLayout="row" >
                  <mat-form-field fxFlex="30">
                    <mat-icon matPrefix>phone</mat-icon>
                    <input
                      matInput
                      [readonly]="true"
                      [textMask]="{mask: phoneMask}"
                      placeholder="Telefone"
                      [(ngModel)]="atleta.telefone"
                      #telefone
                    />
                  </mat-form-field>
                  <mat-form-field fxFlex="30">
                    <mat-icon matPrefix>phone_iphone</mat-icon>
                    <input
                      matInput
                      [readonly]="true"
                      [textMask]="{mask: celPhoneMask}"
                      placeholder="Celular"
                      [(ngModel)]="atleta.celular"
                      #celular
                    />
                  </mat-form-field >
                  <mat-form-field fxFlex="30"> 
                    <mat-icon matPrefix>phone_in_talk</mat-icon>
                    <input
                      matInput
                      [readonly]="true"
                      [textMask]="{mask: celPhoneMask}"
                      placeholder="Whatsapp"
                      [(ngModel)]="atleta.whatsapp"
                      #whatsapp
                    />
                  </mat-form-field>
                </div>
                <p>Endereço</p>
                <div fxLayout="row">                  
                    <mat-form-field fxFlex="100" >
                        <mat-label>Logradouro</mat-label>
                        <input matInput [readonly]="true" placeholder="Rua" [(ngModel)]="atleta.rua" #rua />
                    </mat-form-field>      
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                  <mat-form-field>
                    <mat-label>Bairro</mat-label>
                    <input
                      matInput
                      [readonly]="true"
                      placeholder="Bairro"
                      [(ngModel)]="atleta.bairro"
                      #bairro
                    />
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Cidade</mat-label>
                    <input [readonly]="true" matInput placeholder="Cidade" [(ngModel)]="atleta.cidade">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>País</mat-label>
                    <input [readonly]="true" matInput placeholder="País" [(ngModel)]="atleta.pais">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>CEP</mat-label>
                    <input matInput [readonly]="true" [textMask]="{mask: cepMask}" placeholder="CEP" [(ngModel)]="atleta.cep" #cep />
                  </mat-form-field>
                </div>              
            </mat-tab>
            <mat-tab label="Arquivos"> 
                <app-upload-files [idAtleta]="idAtleta" *ngIf="possuiArquivos == false">></app-upload-files> 
                <app-my-files [idAtleta]="idAtleta" *ngIf="possuiArquivos == true"></app-my-files>
            </mat-tab>
        </mat-tab-group>     
    </mat-card-content>
    <br>
    <mat-divider [inset]="true"> </mat-divider>
    <br>
    <mat-card-actions>
      <button mat-raised-button color="accent" routerLink="/main/atletas">
        <mat-icon>undo</mat-icon> Retornar
      </button>
    </mat-card-actions>
  </mat-card>
</div>

